.hello {
  color:white;
  font-family:sans-serif, fantasy, chal;
  text-align: center;
  background-color: darkblue;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 32%;
  padding: 5px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
}

img{
  height:350px
}
